@use 'globals' as *;

.container {
  display: block;

  // box-sizing: border-box;
  margin: 0 auto;
  padding: 0 5px;

  @include from($w-sm) {
    max-width: 320px;
    padding: 0 20px;
  }

  @include from($w-md) {
    max-width: 744px;
    padding: 0 72px;
  }

  @include from($w-lg) {
    max-width: 1020px;
    padding: 0 120px;
  }
}

.main .container {
  padding-top: 100px;

  @include from($w-md) {
    padding-top: 140px;
  }
}
