@use 'globals' as *;

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 100%;
  background-color: $c-main;
  border: 0;

  color: #fff;
  font-family: $font-main;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0;
  text-align: center;

  &:hover {
    background-color: $c-main-hover;
  }

  &:active {
    background-color: $c-main-active;
  }
}

.link-secondary {
  position: relative;
  padding-bottom: 8px;
}

.link-secondary::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;

  transform: translateX(-50%) scaleX(0);
  transition: transform 0.3s ease;
}

.link-secondary:hover::after {
  transform: translateX(-50%) scaleX(1);
}
