@use 'globals' as *;

.contacts {
  &__title {
    font-family: $font-main;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: 48px;

    @include from($w-md) {
      display: grid;
      grid-template-columns: 1fr 288px;
      gap: 75px;
    }

    @include from($w-lg) {
      grid-template-columns: 1fr 411px;
      gap: 111px;
    }
  }

  &__locations {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include from($w-lg) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }
  }

  // &__location {
  // }

  &__location-title {
    font-family: $font-main;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
  }

  // &__info {
  // }

  &__label {
    font-family: $font-main;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0;
  }

  &__phone,
  &__address {
    color: $color-additional;
    font-family: $font-main;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    text-decoration: none;
  }

  // &__form {
  // }
}

.contacts-form {
  &__field-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__field {
    width: 100%;
    background-color: #f8f8fa;
    height: 48px;
    padding: 11px;
    box-sizing: border-box;

    border: 1px solid transparent;
    outline: none;

    &::placeholder {
      color: #7e7e83;
      opacity: 1;
    }

    &:hover {
      color: $color-default;
    }

    &:focus,
    &:focus-visible {
      color: $color-default;
      border: 1px solid $color-default;
    }
  }

  &__field--textarea {
    min-height: 144px;
    resize: none;
  }

  &__button {
    margin-top: 32px;
  }
}
