@use 'globals' as *;

.exhibitions {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }

  &__title {
    font-family: $font-main;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
  }

  &__subtitle {
    max-width: 325px;
    margin: 0 auto;

    font-family: $font-main;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
  }

  &__list {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;

    @include from($w-md) {
      display: flex;
      gap: 24px;
    }

    &--many {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 8px;
    }
  }

  &__image {
    display: block;
    height: 100%;
    max-height: 130px;
    width: auto;
    max-width: 100%;
    object-fit: cover;
    object-position: top left;

    @include from($w-md) {
      max-height: 186px;
    }

    @include from($w-lg) {
      max-height: 320px;
    }
  }

  &__images--many &__image {
    max-height: 87px;
    max-width: 100%;

    @include from($w-md) {
      max-height: 186px;
    }

    @include from($w-lg) {
      max-height: 320px;
    }
  }

  // &__info {
  // }

  &__item-title {
    color: $c-main;
    font-family: $font-main;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
  }

  &__date {
    font-family: $font-main;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
  }

  &__link {
    max-width: 324px;
    margin: 40px auto 0;
    text-decoration: none;
  }
}
