@use 'globals' as *;

.explore {
  // &__header {
  // }

  &__title {
    font-family: $font-main;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
  }

  &__list {
    margin-top: 48px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    @include from($w-lg) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: start;
      gap: 24px;
    }
  }

  &__item {
    max-width: 100%;

    @include from($w-md) {
      max-width: 392px;
    }

    @include from($w-lg) {
      max-width: none;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
  }

  // &__content {
  // }

  &__item-title {
    margin-top: 24px;

    color: $c-main;
    font-family: $font-main;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
    text-align: center;

    @include from($w-md) {
      margin-top: 32px;
    }
  }

  &__item-text {
    margin-top: 4px;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
  }
}
