@use 'globals' as *;

.footer {
  height: 180px;
  margin-top: 100px;

  background-image: url(../images/footer_bg.jpg);
  background-position: top center;
  background-size: auto 100%;

  @include from($w-md) {
    margin-top: 156px;
    height: 359px;
  }

  @include from($w-lg) {
    margin-top: 150px;
    height: 380px;
  }
}
