@use 'globals' as *;
@use 'layout';
@use 'buttons';
@use 'icons';
@use 'header';
@use 'visit-time';
@use 'exhibitions';
@use 'explore';
@use 'contacts';
@use 'footer';

//  #region header
* {
  margin: 0;
  color: $color-default;
  font-family: $font-main;
}

html {
  scroll-behavior: smooth;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.main img {
  transition: transform 0.3s;
  will-change: transform;

  &:hover {
    transform: scale(1.05);
  }
}

// #endregion
