@use 'globals' as *;

.visit-time {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  @include from($w-md) {
    grid-template-columns: 288px 1fr;
    gap: 24px;
  }

  @include from($w-lg) {
    grid-template-columns: 411px 1fr;
    gap: 24px;
  }

  // &__header {
  // }

  &__title-label {
    color: $c-main;
    font-family: $font-main;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0;
  }

  &__title {
    font-family: $font-main;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;

    @include from($w-md) {
      font-family: $font-main;
      font-weight: 700;
      font-style: Bold;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -1.5px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__location {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__location-title {
    font-family: $font-main;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
  }

  &__schedule {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__day {
    display: flex;
    flex-direction: column;
    gap: 0;

    @include from($w-sm) {
      display: grid;
      grid-template-columns: 96px 1fr;
      column-gap: 25px;
      align-items: start;
    }
  }

  &__schedule--long {
    .visit-time__day {
      @include from($w-sm) {
        grid-template-columns: 121px 1fr;
      }
    }
  }

  &__time {
    font-family: $font-main;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
  }

  &__days {
    font-family: $font-main;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
  }

  // &__note {
  // }

  &__note-title {
    font-family: $font-main;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
  }

  &__note-text {
    font-family: $font-main;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
  }
}
